<?xml version="1.0"?>
<!--
    For more information on how to configure your ASP.NET application, please visit
    http://go.microsoft.com/fwlink/?LinkId=169433
    -->
<configuration>
  <location path="~/SMS/RunBirthdayReminders.aspx">
    <system.web>
      <httpRuntime executionTimeout="2500"/>
    </system.web>
  </location>
  <location path="~/SMS/RunSMSReminders.aspx">
    <system.web>
      <httpRuntime executionTimeout="2500"/>
    </system.web>
  </location>
  <location path="~/SMS/RunSMSReminders_ForStaff.aspx">
    <system.web>
      <httpRuntime executionTimeout="2500"/>
    </system.web>
  </location>
  <location path="~/SMS/SendOverdueReminders.aspx">
    <system.web>
      <httpRuntime executionTimeout="2500"/>
    </system.web>
  </location>
  <location path="~/SMS/SMSDeliveryNotice.aspx">
    <system.web>
      <httpRuntime executionTimeout="2500"/>
    </system.web>
  </location>
  <appSettings>
    <add key="LogAllRequests" value="true"/>
    <add key="LogAllRequestsFile" value="D:\Dropbox\Mediclinic\Log_Requests_.txt"/>
    <add key="SMSSender_Scheduled_LogFile_ELI-LAPTOP" value="D:\Dropbox\Mediclinic\SMSSender_Scheduled_LogFile.txt"/>
    <add key="SMSSender_Scheduled_LogFile_box001" value="C:\inetpub\sites\MediclinicDocs\SMSSender_Scheduled_LogFile.txt"/>
    <add key="Ezidebit_LogFile_ELI-LAPTOP" value="D:\Dropbox\Mediclinic\Ezidebit_LogFile.txt"/>
    <add key="Ezidebit_LogFile_box001" value="C:\inetpub\sites\MediclinicDocs\Ezidebit_LogFile.txt"/>
    <add key="UseConfigDB" value="false"/>
    <add key="IsTestSite" value="false"/>
    <add key="Database_" value="Mediclinic_StubDB"/>
    <add key="Database" value="Mediclinic_Balwyn_TestDB"/>
    <add key="Database__" value="Mediclinic_0003"/>
    <add key="CssPage" value="~/Styles/Site_Basic.css"/>
    <add key="Development" value="True"/>
    <add key="ShowPageExecutionTime" value="True"/>
    <add key="ShowLastBuildTime" value="True"/>
    <add key="SupportContactMessage" value="Support: 03-9947-1981"/>
    <add key="DaysBeforePaymentDueToSendReminder" value="7"/>
    <add key="ErrorEmail_To" value="eli@elipollak.com"/>
    <add key="ErrorEmail_FromName" value="PODIATRYCLINICS"/>
    <add key="ErrorEmail_FromEmail" value="info@podiatryclinics.com.au"/>
    <add key="TopupEmail_To" value="info@podiatryclinics.com.au"/>
    <add key="ExceptionLogFile" value="D:\Dropbox\Mediclinic\Log_Exceptions.txt"/>
    <add key="SqlLogFile" value="D:\Dropbox\Mediclinic\Log_Sql.txt"/>
    <add key="AllowSqlLogging" value="True"/>
    <add key="LogAllSql" value="False"/>
    <add key="LogAllSqlStackTraces" value="False"/>
    <add key="MSWordMailMergeLogFile" value="D:\Dropbox\Mediclinic\MSWordMailMergeLog.txt"/>
    <add key="LogMSWordMailMerge" value="True"/>
    <add key="EziDebit_URL" value="https://webpay.demo.ezidebit.com.au"/>
    <add key="EziDebit_ReturnPage" value="/Invoice_WebPayDoneV2.aspx"/>
    <add key="EziDebit_Debugging" value="False"/>
    <add key="SMSTech_Key" value="18ea8ca301d77d62b66f8f0aa17a7f79"/>
    <add key="SMSTech_Secret" value="chester"/>
    <add key="SMSTech_RequestURL" value="http://transmitsms.com/api"/>
    <add key="SMSTech_callerId" value="Mediclinic"/>
    <add key="SMSTech_CountryCode" value="61"/>
    <add key="SMSRunRemindersPwd" value="mah_sms_reminder"/>
    <add key="SMSDeliveryOtherSites" value="http://liveholloway.mediclinic.com.au/SMS/SMSDeliveryNotice.aspx;http://liveholloway.mediclinic.com.au/SMS/SMSDeliveryNotice.aspx"/>
    <add key="SMSDeliveryLogFile" value="D:\Dropbox\Mediclinic\SMSDeliveryLogFile.txt"/>
    <add key="SMSSendLogFile" value="D:\Dropbox\Mediclinic\SMSSendLogFile.txt"/>
    <add key="LogSMSSending" value="False"/>
    <add key="Email_SMTPHost" value="smtp1.dnsmadeeasy.com"/>
    <add key="Email_SMTPPort" value="5525"/>
    <add key="Email_AccountUsername" value="carepro"/>
    <add key="Email_AccountPassword" value="!3015mm7700!"/>
    <add key="EmailStringMatchToConvertToPlainText" value="@fax.houseofit.com.au"/>
    <add key="HinxFolderUseLocal" value="true"/>
    <add key="HinxLocalFolder" value="D:\Dropbox\Mediclinic\Hinx\[DBNAME]\"/>
    <add key="HinxNetworkFolder" value="\\2008ts\portal\[DBNAME]"/>
    <add key="HinxNetworkFolderUsername" value="carepro\hinx"/>
    <add key="HinxNetworkFolderPassword" value="Fra7rusW"/>
    <add key="LettersDirectoryCopyFrom" value="D:\Dropbox\Mediclinic\MediclinicLetters\Mediclinic_StubDB"/>
    <add key="LettersDirectoryCopyTo" value="D:\Dropbox\Mediclinic\MediclinicLetters\[DBNAME]"/>
    <add key="LettersDirectory" value="D:\Dropbox\Mediclinic\MediclinicLetters\[DBNAME]\Templates"/>
    <add key="LettersHistoryDirectory" value="D:\Dropbox\Mediclinic\MediclinicLetters\[DBNAME]\History"/>
    <add key="TmpLettersDirectory" value="D:\Dropbox\Mediclinic\MediclinicLetters\Tmp"/>
    <add key="Letters_AllowDeletions" value="True"/>
    <add key="StoreLettersHistoryInFlatFile" value="True"/>
    <add key="StoreLettersHistoryInDB" value="False"/>
    <add key="PatientScannedDocsFolderUseLocal_Mediclinic_Holloway" value="true"/>
    <add key="PatientScannedDocsFolderUseLocal_Mediclinic_Balwyn" value="true"/>
    <add key="PatientScannedDocsFolderUseLocal_Mediclinic_0001" value="true"/>
    <add key="PatientScannedDocsFolderUseLocal" value="true"/>
    <add key="PatientScannedDocsLocalFolder_Mediclinic_Holloway" value="D:\Dropbox\Mediclinic\MediclinicLetters\Mediclinic_Holloway\PatientScannedDocs"/>
    <add key="PatientScannedDocsLocalFolder_Mediclinic_Balwyn" value="D:\Dropbox\Mediclinic\MediclinicLetters\Mediclinic_Balwyn\PatientScannedDocs"/>
    <add key="PatientScannedDocsLocalFolder_Mediclinic_0001" value="D:\Dropbox\Mediclinic\MediclinicLetters\Mediclinic_Balwyn\PatientScannedDocs"/>
    <add key="PatientScannedDocsLocalFolder" value="D:\Dropbox\Mediclinic\MediclinicLetters\[DBNAME]\PatientScannedDocs"/>
    <add key="PatientScannedDocsNetworkFolder_Mediclinic_Holloway" value="\\2008ts\Holloway scans"/>
    <add key="PatientScannedDocsNetworkFolder_Mediclinic_Balwyn" value="\\2008ts\Carepro Scans"/>
    <add key="PatientScannedDocsNetworkFolder_Mediclinic_0001" value="\\2008ts\Carepro Scans"/>
    <add key="PatientScannedDocsNetworkFolder" value=""/>
    <add key="PatientScannedDocsNetworkFolderUsername" value="carepro\hinx"/>
    <add key="PatientScannedDocsNetworkFolderPassword" value="Fra7rusW"/>
    <add key="BookingColour_Unavailable" value="#F78181"/>
    <add key="BookingColour_Available" value="#FFFFFF"/>
    <add key="BookingColour_UnavailableButAddable" value="#F78181"/>
    <add key="BookingColour_UnavailableButUpdatable" value="#F78181"/>
    <add key="BookingColour_Updatable" value="#F0E68C"/>
    <add key="BookingColour_FullDayTaken" value="#F78181"/>
    <add key="BookingColour_CL_EPC_Past_Completed_Has_Invoice" value="#EFDFC1"/>
    <add key="BookingColour_CL_EPC_Past_Completed_No_Invoice" value="#EFDFC1"/>
    <add key="BookingColour_CL_EPC_Future_Unconfirmed" value="#D1F7BE"/>
    <add key="BookingColour_CL_EPC_Future_Confirmed" value="#97E173"/>
    <add key="BookingColour_AC_EPC_Past_Completed_Has_Invoice" value="#EFDFC1"/>
    <add key="BookingColour_AC_EPC_Past_Completed_No_Invoice" value="#EFDFC1"/>
    <add key="BookingColour_AC_EPC_Future_Unconfirmed" value="#BAD2FF"/>
    <add key="BookingColour_AC_EPC_Future_Confirmed" value="#7DA9FF"/>
    <add key="BookingColour_CL_NonEPC_Past_Completed_Has_Invoice" value="#EFDFC1"/>
    <add key="BookingColour_CL_NonEPC_Past_Completed_No_Invoice" value="#EFDFC1"/>
    <add key="BookingColour_CL_NonEPC_Future_Unconfirmed" value="#FFFFAA"/>
    <add key="BookingColour_CL_NonEPC_Future_Confirmed" value="#FDD017"/>
    <add key="BookingColour_AC_NonEPC_Past_Completed_Has_Invoice" value="#EFDFC1"/>
    <add key="BookingColour_AC_NonEPC_Past_Completed_No_Invoice" value="#EFDFC1"/>
    <add key="BookingColour_AC_NonEPC_Future_Unconfirmed" value="#D3FFFA"/>
    <add key="BookingColour_AC_NonEPC_Future_Confirmed" value="#65FFEA"/>
    <add key="BookingColour_Future_PatientLoggedIn" value="#FFFFAA"/>
    <add key="BookingColour_Past_PatientLoggedIn" value="#EFDFC1"/>
    <add key="ChartImageHandler" value="storage=file;timeout=20;dir=C:\Users\Eli\AppData\Local\Temp\;"/>
  </appSettings>
  <connectionStrings>
    <!--<add name="ApplicationServices" connectionString="Data Source=.\SQLEXPRESS;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\aspnetdb.mdf;User Instance=true" providerName="System.Data.SqlClient"/>-->
    <add name="ApplicationServices" connectionString="Data Source=(local);Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\aspnetdb.mdf;User Instance=true" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.web>
    <httpHandlers>
      <add path="ChartImg.axd" verb="GET,HEAD,POST" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" validate="false"/>
    </httpHandlers>
    <customErrors defaultRedirect="Error.aspx" mode="RemoteOnly"/>
    <httpRuntime requestValidationMode="2.0" maxRequestLength="20480"/>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="office, Version=14.0.0.0, Culture=neutral, PublicKeyToken=71E9BCE111E9429C"/>
        <add assembly="Microsoft.Vbe.Interop, Version=14.0.0.0, Culture=neutral, PublicKeyToken=71E9BCE111E9429C"/>
        <add assembly="System.Security, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="PresentationFramework, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Web.Mvc, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      </assemblies>
    </compilation>
    <authentication mode="Forms">
      <forms loginUrl="~/Account/LoginV2.aspx" timeout="120"/>
    </authentication>
    <sessionState timeout="120"/>
    <!--
        1. In IIS Manager, expand the local computer, expand Application Pools, right-click the application pool, and then click Properties.
        2. On the Performance tab, under Idle timeout, select the Shutdown worker processes after being idle for check box.
        3. In the minutes box, type the number of idle minutes (with no processing requests) that you want to elapse before shutting down the idle worker process. The default value is 20 minutes.
        4. Click OK.
        -->
    <membership>
      <providers>
        <clear/>
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="ApplicationServices" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/"/>
      </providers>
    </membership>
    <profile>
      <providers>
        <clear/>
        <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ApplicationServices" applicationName="/"/>
      </providers>
    </profile>
    <roleManager enabled="false">
      <providers>
        <clear/>
        <add name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="ApplicationServices" applicationName="/"/>
        <add name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" applicationName="/"/>
      </providers>
    </roleManager>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="Static">
      <controls>
        <add tagPrefix="asp" namespace="System.Web.UI.DataVisualization.Charting" assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
      </controls>
    </pages>
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <defaultDocument>
      <files>
        <clear/>
        <add value="Default.aspx"/>
        <add value="Default.htm"/>
        <add value="Default.asp"/>
        <add value="index.htm"/>
        <add value="index.html"/>
        <add value="iisstart.htm"/>
      </files>
    </defaultDocument>
    <validation validateIntegratedModeConfiguration="false"/>
    <handlers>
      <remove name="ChartImageHandler"/>
      <add name="ChartImageHandler" preCondition="integratedMode" verb="GET,HEAD,POST" path="ChartImg.axd" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
    </handlers>
  </system.webServer>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_INonPCIService" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
          <security mode="Transport">
            <transport clientCredentialType="None" proxyCredentialType="None" realm=""/>
            <message clientCredentialType="UserName" algorithmSuite="Default"/>
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://api.ezidebit.com.au/v3-3/nonpci" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_INonPCIService" contract="INonPCIService" name="BasicHttpBinding_INonPCIService"/>
    </client>
  </system.serviceModel>
</configuration>